@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

html, body{
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar desplazamiento lateral */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
  box-sizing: border-box;
}

main{
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 70px;
  margin-bottom: 60px;
}

.outfit-font {
  font-family: 'Outfit', sans-serif;
}

.serif-font {
  font-family: 'Young Serif', serif;
  font-weight: 400;
}

.recipe{
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  margin: 20px;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 30px;
}

.preparation{
  background-color: hsl(330, 100%, 98%);
  margin-top: 30px;
  padding: 8px 0 10px 30px;
  font-family: 'Outfit';
  border-radius: 10px;
  color: hsl(24, 5%, 18%);
}

.omelette{
  width: 100%;
  height: auto;
  display:block;
  margin: 15PX auto;
  border-radius: 12.5px;
}

h1{
  font-family: 'Young-serif';
  color: hsl(24, 5%, 18%);
  font-size: 40px;
  margin-bottom: 15px;
}

h2{
  font-family: 'Young-serif';
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: hsl(14, 45%, 36%);
}

h3{
  font-size: 20px;
  color: hsl(332, 51%, 32%);
}
.info{
  margin-bottom: 35px;
  line-height: 23px;
  color: hsl(24, 5%, 18%);
}

hr{
  width: 100%;
  height: 0.5px;
  background-color: hsl(30, 18%, 87%);
  border: none;
  grid-column: span 2;
}

/* Aplica negrita a los números de los ítems de la lista */
ol {
  counter-reset: item;
  list-style: none; /* Elimina los estilos de lista por defecto */
  padding-left: 10px; /* Elimina el padding por defecto */
}

ol li {
  counter-increment: item;
  margin-bottom: 7px; /* Espacio entre los ítems */
  padding-left: 30px; /* Espacio para los números */
  position: relative; /* Para posicionar los números */
  line-height: 24.5px;
  color: hsl(24, 5%, 18%);
}

ol li::before {
  content: counter(item) ". ";
  font-weight: bold; /* Negrita para los números */
  position: absolute;
  left: 0; /* Alinea los números a la izquierda */
  color: hsl(14, 45%, 36%);
}

ol li strong {
  font-weight: bold; /* Negrita para el resumen */
  color: hsl(24, 5%, 18%);
}

.description {
  font-weight: normal; /* Texto normal para la descripción */
  color: hsl(24, 5%, 18%);
}

ul {
  list-style-type: none;
  padding-left: 8px;
}

ul li {
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  color: hsl(24, 5%, 18%);
}

ul li::before {
  content: ".";
  color: hsl(332, 51%, 32%);
  position: absolute;
  left: 0;
  font-size: 2.2em;
  line-height: 0;
}

.ingredients, .instructions {
  margin-bottom: 35px;
  color: hsl(24, 5%, 18%);
}

.nutrition-facts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.nutrition {
  width: 100%;
  margin: 10px 0;
  padding-left: 35px;
  position: relative;
  color: hsl(24, 5%, 18%);
}

.fact {
  position: absolute;
  left: 335px;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
hr {
  width: 100%;
  margin: 5px 0;
  
}

p, li{
  font-family: 'Outfit';
  font-size: 16px;
  color: hsl(24, 5%, 18%);
}

.footer {
  position: relative;
  margin-top: auto; 
  width: 100%;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  z-index: 10;
}

.footer p {
  margin: 0;
  font-size: 20px;
  color: hsl(24, 5%, 18%);
}

.footer a {
  text-decoration: none;
  color: hsl(332, 51%, 32%);
  margin-left: 4px; 
}

.footer a:first-of-type {
  margin-left: 0; /* Elimina el margen izquierdo para el primer enlace */
}

/* Para móviles */
@media (max-width: 350px) {
  main {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .recipe {
    padding: 15px;
    margin: 10px;
  }
  
  .preparation {
    padding: 5px 10px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p, li {
    font-size: 14px;
  }
  
  .nutrition {
    padding-left: 20px;
  }
  
  .fact {
    position: static; /* Para que se posicione en el flujo del documento */
    margin-left: auto; /* Para alinear a la derecha */
    padding-left: 20px;
  }

  .footer {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .footer p {
    font-size: 10px;
  }
}

/* Para tabletas */
@media (min-width: 376px) and (max-width: 768px) {
  main {
    width: 100%;
  }
  
  .recipe {
    padding: 20px;
  }

  .preparation {
    padding: 8px 20px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  p, li {
    font-size: 15px;
  }
  
  .nutrition {
    padding-left: 25px;
  }
  
  .fact {
    right: 25px;
  }
}